@model List<Expense>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>@Html.LabelFor(x => x.FirstOrDefault().Name)</th>
        <th>@Html.LabelFor(x => x.FirstOrDefault().Amount)</th>
        <th>@Html.LabelFor(x => x.FirstOrDefault().Date)</th>
        <th>@Html.LabelFor(x => x.FirstOrDefault().Category)</th>
    </tr>
    @foreach (var expense in Model)
    {
        <tr>@expense.Name</tr>
        <tr>@expense.Amount</tr>
        <tr>@expense.Date</tr>
        <tr>@expense.Category</tr>
    }
</table>

