@model List<Expense>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>@Html.LabelFor(x => x.FirstOrDefault().Name)</th>
        <th>@Html.LabelFor(x => x.FirstOrDefault().Amount)</th>
        <th>@Html.LabelFor(x => x.FirstOrDefault().Date)</th>
        <th>@Html.LabelFor(x => x.FirstOrDefault().Category)</th>
        <th>Action</th>
    </tr>
    @foreach (var expense in Model)
    {
    <tr>
        <td>@expense.Name</td>
        <td>@expense.Amount</td>
        <td>@expense.Date.ToShortDateString()</td>
        <td>@expense.Category</td>
        <td> <button class="btn btn-danger">@Html.ActionLink("Details", "Details", new {id = expense.Id })</button></td>

    </tr>
    }
</table>

