@model List<ExpensesManager.ViewModels.ExpenseViewModel>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<span>Filter by expense</span>
<select id="filterSelect"
        asp-items="@Html.GetEnumSelectList<CategoryType>()"></select>
<div id="expensesListContainer">
    @{
        Html.Partial("_ExpensesList", ViewData.Model);
    }
</div>

<div id="modal" class="modal fade">
    <div id="modalContainer" class="modal-content">
        @Html.Partial("_ChartPopup");
        halo
    </div>
</div>

<td>@Html.ActionLink("Create", "Create", null, null, new { @class = "btn btn-success" })</td>
<td><button class="btn btn-info" id="modalBtn">Modal</button></td>

@section Scripts{
    <script>
    $(function () {
        var filterSelect = $("#filterSelect");
        filterSelect.change(function () {
            var filterValue = filterSelect.val();
            $.get(
                {
                    url: '@Url.Action("GetExpensesList")' + '?categoryId=' + filterValue,
                    success: function (data) {
                        $("#expensesListContainer").html(data);
                    }
                })
        })
    })
    </script>

    <script>
        $(document).ready(function () {
            $('#modalBtn').click(function () {
                var monthValue = $("#monthSelect").val();
                $.get(
                {
                    url: '@Url.Action("GetModalChart")' + '?month=' + 9,
                    success: function (data) {
                        $("#modalContainer").html(data);
                    }
                })
                jQuery('#modal').modal(
                    {
                        height: 100,
                        width: 1000
                    },"show");
            })
        })
    </script>



}

